body {
    margin: 0;
    padding: 0;
    background: #111111;
    image-rendering: pixelated;

    height: 100vh;
    width: 100vw;
    margin: auto;
    width: 100%;
    text-align: center;
}

canvas {
    z-index: -10;
}

#grid-game {
    width: 800px;
    height: 800px;
    z-index: 10;
}


.player {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
    position: absolute;
}

#grid-header {
    grid-area: header;
}

#grid-menu {
    grid-area: menu;
}

#grid-main {
    grid-area: main;
}

#grid-right {
    grid-area: right;
}

#grid-footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header'
                         'menu main right'
                         'menu footer footer';
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-rows: 30px 600px auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.performance-debug {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: lightpink;
    opacity: 1;
}

.render-debug {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: lightpink;
    opacity: 1;
}