
<div class="instrument-wrapper">
    <div class="tui-window tui-bg-purple-black instrument">
        <fieldset class="tui-fieldset tui-bg-purple-black tui-border-solid">
            <legend>Instrument</legend>
            <div class="instrument-sequenzer">
                <div v-for="(row, rowIndex) in jamState.instruments.clientId.pattern" class="instrument-row">
                    <div v-for="(cell, colIndex) in row" class="instrument-cell" v-on:click="toggle(rowIndex,colIndex)" :class="
                    {noteCursor:cursorClass(rowIndex, colIndex), noteEnabled:noteEnabledClass(rowIndex, colIndex),
                    stepPlaying:stepPlayingClass(colIndex)}">
                        
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>